<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0; i<users.length;i++){
        %>
    <div><a>아이디 : </a><%= users[i].userId%></div>
    <div><a>비밀번호 : </a><%= users[i].pw%></div>
    <% } %>
</body>
</html>