#mid{
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    margin:0px;
    padding:10px;
}
.newsign{
    width: 500px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%, -50%);
}
.newsign h2{
    font-size: 32px; color:#17e67e;
    border-bottom: 2px solid #17e67e;
    padding : 15px;
    text-align: center;
}
.profile{
    padding:10px;
    width: 500px;
    display:block;
}
table {
    width: 280px;
    height: 550px;
    margin: auto;      
}
.email {
    width: 127px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
.text {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
select {
    width: 100px;
    height: 32px;
    font-size: 15px;
    border: 1;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}
.btn {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #a9fdd3;
}
.btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #17e67e;
}